<tr id="<%= dom_id staticgreeting %>">
  <td>good morning <%= staticgreeting.word %> town <%= staticgreeting.id %></td>
  <td><%= link_to 'Destroy', staticgreeting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
