<p id="notice"><%= notice %></p>
<%= turbo_stream_from "greetings" %>

<%= turbo_frame_tag 'new_greeting', src: new_greeting_path %>

<h1>Recent Greetings</h1>

<table>
  <tbody id="greetings">
    <%= render @greetings %>
  </tbody>
</table>
