<%= turbo_stream_from "greetings" %>

<div id="app" data-controller="greeting">
  <%= turbo_frame_tag 'new_greeting', src: new_greeting_path %>

  <h1>Recent Greetings</h1>

  <table>
    
    <tbody id="greetings" data-greeting-target="greetings">
      <%= render partial: "greetings/staticgreeting", collection: @greetings %>
    </tbody>
  </table>
</div>
